/* Dashboard.css */

div {
    padding: 0.6em 1.2em;
    border-radius: 8px;
    margin: auto;
}

[data-theme="light"] .image {
    border: 2px solid rgb(15, 15, 15);
    box-sizing: border-box;
}

[data-theme="dark"] .image {
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
}
