/* FetchExpense.css */

.expense-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.expense-container h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.expense-container ul {
    list-style: none;
    padding: 0;
}

.expense-container li {
    background-color: #696969;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    max-width: 400px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.expense-container p {
    font-size: 1.2rem;
    color: #777;
}
